---
layout: page
description: 'Die R User Group in München'
---

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta">Geschrieben von {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} am {{ post.date | date: "%d.%m.%Y" }}</p>
</div>
<hr>
{% endfor %}

<p>
Melde dich bei unserer meetup-Gruppe an, um immer auf dem Laufenden zu bleiben: <a href="http://www.meetup.com/Applied-R-Munich/">
<img src="img/meetup.png" alt="Go to http://www.meetup.com/Applied-R-Munich/!" width="220">
</a>
</p> 

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Neuere Beiträge</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Ältere Beiträge &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
